body {
  margin: 0;
}
.header {
  padding: 50px 10px;
}
.content {
  background-color: darkgrey;
  z-index: 1;
  position: relative;
  margin-bottom: 10vh;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
}
.snippet {
  margin: 2vw;
  padding: 1vw 2vw 1vw 2vw;
  background-color: lightgrey;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
}
h1 {
  text-align: center;
}
h2 {
  margin: 0;
}
footer {
  position: fixed;
  width: 100vw;
  height: 10vh;
  text-align: center;
  background-color: black;
  color: white;
  bottom: 0;
  left: 0;
  z-index: -1;
}
